<app-base-header [title]="pageTitle" [isSave]=true [cssName]="'blue'">
</app-base-header>

<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (submit)="onSubmit()">
    <ion-item color="light">
      <ion-icon name="settings" slot="start" color="medium"></ion-icon>
      <ion-input
        type="number"
        placeholder="Consumo"
        autofocus="true"
        inputmode="decimal"
        formControlName="consumption"
      >
      </ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-icon name="cash-outline" slot="start" color="medium"></ion-icon>
      <ion-input
        type="number"
        placeholder="Valor"
        autofocus="true"
        inputmode="decimal"
        formControlName="value"
      >
      </ion-input>
    </ion-item>

    <ion-item color="light">
      <ion-icon name="calendar" slot="start" color="medium"></ion-icon>
      <ion-datetime
        (ionChange)="changeDate($event.detail.value)"
        displayFormat="MM/YYYY"
        formControlName="issueDate"
      ></ion-datetime>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="formGroup.invalid">
      {{'save' | translate}}
    </ion-button>
  </form>
</ion-content>
