<app-base-header [title]="'water.title'" [isSave]=true [cssName]="'blue'">
</app-base-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>{{ "chart.select" | translate }}</ion-label>
    <ion-select (ionChange)="changeType($event.detail.value)" value=0>
      <ion-select-option value=0>{{ "chart.bar.name" | translate }}</ion-select-option>
      <ion-select-option value=1>{{ "chart.pie.name" | translate }}</ion-select-option>
      <ion-select-option value=2>{{ "chart.bar.name2" | translate }}</ion-select-option>
      <ion-select-option value=3>{{ "chart.pie.name2" | translate }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>{{subTitle | translate}}</ion-card-subtitle>
      <ion-card-title>{{title | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [hidden]="!showPie">
        <canvas #viewPieChart></canvas>
      </div>  
      <div [hidden]="!showBar">
        <canvas #viewBarChart></canvas>
      </div>
      <div [hidden]="!showPie2">
        <canvas #viewPieChart2></canvas>
      </div>  
      <div [hidden]="!showBar2">
        <canvas #viewBarChart2></canvas>
      </div>   
    </ion-card-content>
  </ion-card>
</ion-content>
