.green ion-toolbar {
  --background: #009900;
  --color: #fff;
}

.orange ion-toolbar {
  --background: #ff9000;
  --color: #fff;
}

.blue ion-toolbar {
  --background: #0000d0;
  --color: #fff;
}

.gray ion-toolbar {
  --background: #808080;
  --color: #fff;
}
