.green ion-toolbar {
    --background: #009900;
    --color: #fff;
  }

.orange ion-toolbar {
    --background: #FF9000;
    --color: #fff;
  }

.blue ion-toolbar {
    --background: #0000D0;
    --color: #fff;
  }