<app-base-header [title]="'gas.title'" [isSave]=false [cssName]="'green'">
</app-base-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="list$ | async as list">
   <ion-item>
      <ion-label>{{ "date" | translate }}</ion-label>
      <ion-label>Consumo</ion-label>
      <ion-label>Valor</ion-label>
    </ion-item>
    <ng-container *ngIf="list.length > 0; else noItems">
      <app-base-item
        *ngFor="let item of list"
        [item]="item"
        [values]="2"
        (update)="onUpdate($event)"
        (delete)="onDelete($event)"
      ></app-base-item>
    </ng-container>
    <ng-template #noItems>
      <ion-item lines="none">{{ "no-list" | translate }}</ion-item>
    </ng-template>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button routerLink="/gas/chart" routerDirection="forward">
      <ion-icon name="stats-chart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/gas/create" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
