<ion-item-sliding #sliding>
  <ion-item
    (click)="update.emit(item)"
    class="{{ item.issueDate.toDate().getMonth() === 0 ? cssName : '' }}"
  >
    <ion-label class="ion-text-start">{{
      item.issueDate.toDate() | date : "MM/yyyy"
    }}</ion-label>
    <ion-label class="ion-text-center">{{ item.consumption }}</ion-label>
    <ion-label
      class="ion-text-center"
      color="{{
        compare.cOneYearAgo > 0
          ? 'danger'
          : compare.cOneYearAgo < 0
          ? 'primary'
          : 'dark'
      }}"
    >
      <small>{{
        compare.cOneYearAgo > 0
          ? arrowUp + compare.cOneYearAgo
          : (compare.cOneYearAgo < 0 ? arrowDown : "") +
            compare.cOneYearAgo * -1
      }}</small></ion-label
    >
    <ion-label class="ion-text-end">{{
      item.value | currency : "BRL"
    }}</ion-label>
    <ion-label
      class="ion-text-center"
      *ngIf="platform.isLandscape()"
      color="{{
        compare.vOneYearAgo > 0
          ? 'danger'
          : compare.vOneYearAgo < 0
          ? 'primary'
          : 'dark'
      }}"
    >
      <small>{{
        compare.vOneYearAgo > 0
          ? arrowUp + compare.vOneYearAgo
          : (compare.vOneYearAgo < 0 ? arrowDown : "") +
            compare.vOneYearAgo * -1
      }}</small></ion-label
    >
  </ion-item>
  <ion-item-options *ngIf="!lastItem" side="start">
    <ion-item-option
      color="danger"
      (click)="delete.emit(item); sliding.close()"
    >
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
    <ion-item-option (click)="update.emit(item); sliding.close()">
      <ion-icon slot="icon-only" name="create"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
