.green {
  --background: #009900;
  --color: #fff;
}

.orange {
  --background: #ff9000;
  --color: #fff;
}

.blue {
  --background: #0000d0;
  --color: #fff;
}
.gray {
  --background: #808080;
  --color: #fff;
}
